#player4Cards {
    width: 25%;
    position: absolute;
    left: 73%;
    top: 23vh;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    transform: rotate(45deg);
  }

  #player4Cards img {
    margin: 0.5%;
    position: relative;
    margin-top: -12vh;
  }