@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}


#wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

#left-box {
    width: 40%;
    height: 100vh;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#right-box {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#play {
    font-size: 6vh;
    text-align: center;
    color: white;
    font-family: 'Schibsted Grotesk', sans-serif;
}
#play:hover {
    scale:1.1;
    text-shadow: 0vh 0 1vh white;
}

.default-card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rangeValue {
  position: relative;
  display: block;
  text-align: center;
  font-size: 3vh;
  color: #999;
  font-weight: 400;
}
.range {
  margin-top: 2vh;
  width: 13vw;
  height: 1.5vh;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 2vh;
  overflow: hidden;
  box-shadow: inset 0 0 1vh rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: .6vh solid #333;
  box-shadow: -10.5vw 0 0 10vw #fff;
}

.skinprew {
  height: 35vh;
}

#skin-container {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-slot {
  scale: 1.2;
  z-index: 2;
  border: 1vh solid black;
  box-shadow: 0vh -5vh 5vh rgb(0, 0, 0) inset;
  filter: brightness(2);
  transition: 0.3s;
}

#main-slot:hover {
  scale: 1.4;
}


.slot {
  margin-bottom: 12vh;
  cursor: pointer;
  box-shadow: 0vh 0vh 10vh rgb(0, 0, 0) inset;
  filter: brightness(.5);
  filter: blur(.3vh);
}

#header-skins {
  color: white;
  font-size: 8vh;
  font-family: 'Schibsted Grotesk', sans-serif;
}
