#player3Cards {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 13vh;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  #player3Cards img {
    margin: 0.2%;
    position: relative;
    margin-top: -12vh;
  }