#player2Cards {
  width: 25%;
  position: absolute;
  left: 0%;
  top: 17vh;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  transform: rotate(-45deg);
}

#player2Cards img {
  margin: 0.5%;
  position: relative;
  margin-top: -5vh;
}