#end-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #171717;
    position: absolute;
    z-index: 15;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30vh 0vh;
}

#winner-heading {
    font-size: 8vh;
    font-weight: 800;
}
#play-next {
    font-size: 5vh;
    font-weight: 500;
}