body {
  background: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.753)), url('https://wallpaperaccess.com/full/1558417.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

* {
  user-select: none;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

#myHand {
  width: 80%;
  position: absolute;
  left: 18%;
  top: 80vh;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

#myHand .card {
  cursor: pointer;
  margin: 0.1%;
  position: relative;
  margin-top: -5vh;
  filter: brightness(.3);
  transition: filter .2s, transform .2s, scale .2s;
}

#myHand .card:hover {
  scale: 1.2;
  z-index: 2;
  transform: translateY(-30%);
}

.highlight {
  scale: 1.03;
  filter: brightness(1);
  transform: translateY(-10%);
  filter: brightness(1) !important;
}

#getCardTrigger {
  width: 5%;
  height: 15vh;
  position: absolute;
  display: block;
  top: 40vh;
  left: 55%;
}

#currentPlayer {
  color: white;
  left: 5%;
  top: 90vh;
  position: absolute;
  font-size: 3vh;
}

#unoButton {
  width: 8%;
  display: flex;
  justify-content: center;
  border-radius: 45%;
  align-content: center;
  height: 9vh;
  transform: rotate(-35deg);
  background-color: rgb(231, 47, 47);
  position: absolute;
  top: 75vh;
  left: 6%;
  padding-top: 0.5%;
  padding-left: 1%;

}

#unoText {
  position: absolute;
  top: 73vh;
  left: 5%;
  transform: rotate(-32deg);
  color: white;
  font-size: 9vh;
  color: yellow;
  font-weight: 900;
  text-shadow: -1vh .3vh 0px black;
  -webkit-text-stroke: .2vh #fff;
}
#play0,
#play1,
#play2,
#play3 {
  z-index: 5;
  position: absolute;
  animation: play 1s;
}
#play0,#get0 {
  left: 55%;
  top: 75vh;
}

#play1,#get1 {
  transform: rotate(-45deg);
  top: 14vh;
  left: 7%;

}

#play2,#get2 {
  top: 1vh;
  left: 47.5%;
}

#play3,#get3 {
  transform: rotate(45deg);
  top: 14vh;
  left: 87%;
}

#get0,
#get1,
#get2,
#get3 {
  z-index: 5;
  position: absolute;
  animation: get 1s;
}




@keyframes play {
  to {
    top: 40%;
    left: 45%;
    transform: rotate(0deg);
  }
}

@keyframes get {
  from {
    top: 40%;
    left: 55%;
  }
  to {

  }
}